/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector overrides default styles from browser*/
* {
    padding: 1;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: lightcyan;
}

#header-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3 {
    font-family: 'Inconsolata', sans-serif;
}

main {
    background-color: white;
    /* Keeps page structure so main element takes up most of the space */
    flex: 1 0 auto;
}

#click-for-rules {
    background-color: #038052;
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
}

#game-rules {
    padding: 1em;
    background-color: mintcream;
    line-height: 1.5;
}

#ready-fizzbuzz {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
}

#set-target-numbers {
    background-color: rgb(255, 6, 6) ; 
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
}



footer {
    background-color: rgb(51, 28, 28);
}

.hide {
    display: none;
}