/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector overrides default styles from browser*/
* {
    padding: 1;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #020202;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: yellow;
    padding: 0.5em;
    text-align: center;
}

#header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    }

h1,
h2,
h3 {
    font-family: 'Inconsolata', sans-serif;
}

main {
    background-color: mintcream;
    height: 100%;
    width: 100%;
    padding: 1em;
    align-items: center;
    text-align: center;
    /* Keeps page structure so main element takes up most of the space */
    flex: 1 0 auto;
}

.structure-btn {
    border: none;
    border-radius: 12px;  
    width: 150px;
    font-size: 20px;
    padding: 7.5px 16px;
}

/*.answer-btns {
    border: none;
    border-radius: 12px;  
    width: 75px;
    font-size: 16px;
    padding: 4px 8px;
    align: center;
}*/

#click-for-rules {
    background-color: red;
    color: white; 
}

#game-rules * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightcyan;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
}

#ready-fizzbuzz {
    background-color: orange;
    color: white;
}

#set-target-numbers {
    background-color: rgb(24, 184, 24);
    color: white;
}

#fizz-btn {
    background-color: rgb(11, 11, 235);
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
    font-size: 20px;
    padding: 1%;
}

#buzz-btn {
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
    font-size: 20px;
    padding: 1%;
}

#no-btn {
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
    font-size: 20px;
    padding: 1%;
}



.button-container-1 {
    display: flex;
}

.button-container-2 {
    display: flex;
}


#fizzbuzz-btn {
    background-color: rgb(132, 23, 196);
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
    font-size: 20px;
    padding: 1%;
}

#next-target-number {
    background-color:  rgb(24, 184, 24);;
    color: white;
}

footer {
    background-color: rgb(51, 28, 28);
}

.hide {
    display: none;
}