/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector overrides default styles from browser*/
* {
    padding: 1;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles*/
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #020202;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: yellow;
    padding: 0.5em;
    text-align: center;
}

#header-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3 {
    font-family: 'Inconsolata', sans-serif;
}

main {
    background-color: lightcyan;
    height: 100%;
    width: 100%;
    padding: 1em;
    align-items: center;
    text-align: center;
    /* Keeps page structure so main element takes up most of the space */
    flex: 1 0 auto;
}

#click-for-rules {
    background-color: #038052;
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
}

#game-rules {
    padding: 1em;
    background-color: mintcream;
    line-height: 1.5;
}

#ready-fizzbuzz {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
}

#set-target-numbers {
    background-color: rgb(255, 6, 6);
    color: white;
    border: none;
    border-radius: 12px;
}

#fizz-btn {
    background-color: rgb(11, 11, 235);
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
}

#buzz-btn {
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
}

#no-btn {
    background-color: rgb(24, 134, 24);
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
}

#fizzbuzz-btn {
    background-color: rgb(132, 23, 196);
    color: white;
    border: none;
    border-radius: 12px;
    width: fit-content;
}

#next-target-number {
    background-color: rgb(255, 6, 6);
    color: white;
    border: none;
    border-radius: 12px;
}

footer {
    background-color: rgb(51, 28, 28);
}

.hide {
    display: none;
}